    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        border: none;
        outline: none;
        scroll-behavior: smooth;
        font-family: 'Poppins', sans-serif;

    }

    :root {
            --bg-color: #ffffff;
            --bg-color2: #c5c6c7;
            --bg-color3: #f5f5f5;
            --bg-color4: #1b1b1b;
            --text-color: #000000;
            --h2-font: 3rem;
            --h1-font: 5rem;
            --p-font: 1.1rem;
            --a-font: 1.1rem;
            --main-color: #f75023;
            --main-color2: #d6d6d6;
            --main-color3: #880808;
            --main-color4: #413839;
            --a-color: #1b1b1b;
            --body-font: 'Work Sans', sans-serif;
    }

    body {
            background: var(--bg-color3);
            /*font-family: 'Work Sans', sans-serif;*/
    }

/*===HEADER SECTION CSS-----------------------------------------------------------------------------------------------*/

           header {
            width: 100%;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 1000;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: var(--bg-color);
            padding: 30px 8%;
            transition: all .50s ease;
            text-transform: uppercase;
            font-family: 'Poppins', sans-serif;
    }

    .header-logo img {
            height: auto;
            width: 120px;
            border-radius: 10px;
            cursor: pointer;
    }

    .header-nav {
            display: flex;
    }

    .header-nav a {
            padding: 10px 25px;
            font-size: var(--a-font);
            text-decoration: none;
            font-weight: 600;
            color: var(--a-color);
            font-family: 'Poppins', sans-serif;
            cursor: pointer;
            list-style: none;
    }

    .header-nav a:hover {
            color: var(--main-color3);
    }

    .header-btn {
            display: flex;
            align-items: center;
    }

    .header-btn-1 {
            color: var(--a-color);
            font-weight: 600;
            font-size: var(--a-font);
            font-family: 'Poppins', sans-serif;
    }

    .header-btn-1:hover {
            color: var(--main-color3);
    }

    .header-btn-2 {
            display: inline-block;
            padding: 5px 15px;
            transition: all .40s ease;
            font-size: var(--a-font);
            font-weight: 600;
            margin-left: 20px;
            background: var(--bg-color4);
            color: var(--bg-color);
            border-radius: 10px;
            border: 2px solid gold;
    }

    .header-btn-2:hover {
            background: var(--bg-color);
            color: var(--bg-color4);
            transform: translateX(-3px);
    }

    #menu-icon {
        color: var(--main-color3);
        font-size: 45px;
        margin-left: 5px;
        z-index: 10001;
        cursor: pointer;
        display: none;
    }

/*===HERO SECTION CSS-------------------------------------------------------------------------------------------------*/

    section {
        padding: 80px 10% 70px;
        margin-top: 10%;
    }

    .hero-section {
        position: relative;
        height: 80vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        align-items: center;
        gap: 5rem;
        margin-top: 15%;
    }

    .hero-text h1 {
        /*font-size: var(--h1-font);*/
        font-size: 40px;
        line-height: 1.5;
        margin-bottom: 25px;
        text-transform: capitalize;
    }

    .hero-text p {
        font-size: var(--p-font);
        color: var(--bg-color4);
        line-height: 35px;
        margin-bottom: 25px;
    }

    .hero-search form {
        position: relative;
        width: 400px;
        max-width: 100%;
    }

    .hero-search form input:first-child {
        display: inline-block;
        width: 100%;
        padding: 20px 130px 15px 15px;
        border-radius: 70rem ;
        text-transform: capitalize;
    }

    .hero-search form input:last-child {
        position: absolute;
        display: inline-block;
        padding: 10px 30px;
        background: var(--main-color3);
        color: var(--bg-color);
        font-size: 15px;
        cursor: pointer;
        border-radius: 70rem;
        box-shadow: 0px 0px 5px #ffffff,0px 0px 15px #868686;
        top: 6px;
        right: 6px;
        text-transform: uppercase;
    }

    .hero-search form input:last-child:hover {
        background: var(--main-color);
        color: var(--bg-color4);
    }

    .hero-img img {
        border-bottom-right-radius: 30px;
        border-top-left-radius: 30px;
        /*width: 100%;*/
        /*height: 100%;*/
        /*object-fit: contain;*/
    }

    header.sticky {
        padding: 8px 10%;
    }

/*===FEATURE SECTION CSS----------------------------------------------------------------------------------------------*/

    .feat-sec {
        padding: 60px 15% 50px;
        background: var(--bg-color);
        /*margin-top: 5%;*/
        margin-bottom: 10%;
        height: 60vh;
        width: 100%;
    }

    .feat-sec-left h2 {
        font-size: var(--h2-font);
        text-transform: capitalize;
    }

    .feat-sec-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        margin-top: 2.5rem;
    }

    .feat-sec-img img {
        width: 170px;
        margin-bottom: 30%;
    }

/*===PROPERTY SECTION CSS---------------------------------------------------------------------------------------------*/

    .prop-sec {
        padding-top: 0px;
    }

    .prop-sec h2 {
        margin-left: 65px;
        font-size: var(--h2-font);
        text-transform: capitalize;
    }

    .prop-sec-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, auto));
        align-items: center;
        gap: 2rem;
        margin-top: 4.5rem;
    }

    .row {
        position: relative;
        cursor: pointer;
    }

    .row img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .row h5 {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;
        text-transform: capitalize;
        font-family: sans-serif;
    }

    .row p {
        font-size: var(--p-font);
        text-transform: capitalize;
        margin-bottom: 10px;
        font-family: sans-serif;
    }

    .prop-sec-list {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .prop-sec-list a {
        /*font-size: var(--p-font);*/
        /*font-size: 15px;*/
        list-style: none;
        color: var(--main-color4);
        text-transform: capitalize;
        font-family: sans-serif;
        font-weight: 600;
    }

    .prop-list i {
        font-size: 20px;
        color: var(--main-color3);
    }

    .middle-btn {
        text-align: center;
        margin-top: 5rem;
        text-transform: uppercase;
    }

    .btn {
        display: inline-block;
        padding: 20px 30px;
        background: var(--bg-color4);
        color: var(--bg-color);
        font-size: var(--a-font);
        font-weight: 600;
        transition: all .50s ease;
        border: 2px solid gold;
    }

    .btn:hover {
        /*transform: translateY(-1px) scale(0.9);*/
        background: var(--bg-color3);
        color: var(--bg-color4);
        transform: translateX(0px);
    }




